#pageContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #efefef;
   margin-left: 250px;

}

.lw-page .learnworlds-section:not(.lw-topbar):not(.lw-footer) a:not(.learnworlds-button):not(.lw-link-text):not(.lw-event-card) span,
.slug-author-pageseditor:not(.lw-ebook) .learnworlds-section:not(.lw-topbar):not(.lw-footer) a:not(.learnworlds-button):not(.lw-link-text):not(.lw-event-card) span {
   text-decoration: none;
}

.js-same-content-wrapper {
   border-radius: 20px;
   padding: 2px;
}

.lw-light-bg {
   background-color: #efefef;
}

.el_1593094758422_23 {
   margin-right: 1em;
}

#section_1678711065059_341 {
   display: flex;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 20px;
   width: 70%;
   position: fixed;
   border-radius: 20px;
   background-color: white;
   box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.20);
   -webkit-box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.20);
   -moz-box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.20);
}

#el_1678377139695_401 {
   background-color: white;
}

#section_1711396103844_346 {

   height: 300px;
   margin-top: 100px
}

#history_1711363970499_379,
#history_1711367571152_552,
#history_1711367404357_497 {

   padding-right: 250px;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center
}

#el_1711383894888_439,
#el_1711383981541_561,
#el_1711383947142_513 {
   width: 80%;
}




#el_1593094758413_21:hover {
   cursor: pointer;
}


.learnworlds-button-small {
   color: white;
   background: rgb(5, 191, 173);
   background: linear-gradient(90deg, rgba(5, 191, 173, 1) 0%, rgba(0, 103, 145, 1) 100%, rgba(255, 255, 255, 1) 100%);
   font-weight: bolder;
}

.learnworlds-button-small:hover {
   border: solid 1px #05BFAD;
   transition: 0.5s;
   color: #05BFAD;
   background-color: white;
   background: none;

}

.lw-bundle-card-courses-slide {
   visibility: hidden;
}


.lw-bundle-card {
   background-color: #efefef;
   border: none;
}


.lw-bundle-card>.learnworlds-image {
   margin-top: 24px;
   margin-left: 24px;
   border-bottom: solid 4px #05BFAD;
   border-right: solid 4px #05BFAD;
   background-color: #F3F8FF;
   -webkit-box-shadow: 21px 18px 26px 0px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 21px 18px 26px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 21px 18px 26px 0px rgba(0, 0, 0, 0.2);
}

.lw-bundle-card>.va-sb {
   background-color: transparent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 24px;
   padding-bottom: 24px
}

#component_1711128872600_362:hover>.lw-card-m {
   scale: 1
}


.lw-card-mb {

   transition: transform 0.5s;
}

.lw-body-bg .lw-brand-accent1-bg {
   background-color: #efefef;
}


.lw-card-mb:hover {

   scale: 1.05;
   transition: 0.5s;

   box-shadow: 0 0 22px darkgray;

}

.lw-bundle-card-courses-slide> {
   padding-left: 20px;
   color: transparent;
   visibility: hidden;
   background-color: transparent;
}

.-search-box {
   max-width: 600px;
}

@media screen and (max-width: 1500px) {
   #history_1710772967964_464 {
      display: none;
   }
}

@media screen and (max-width: 1100px) {
   #el_1593094758422_23 {
      margin-left: -30em;
   }

   #el_1710772956857_454 {
      display: none;
   }
}

@media screen and (max-width: 1000px) {
   #pageContent {

      margin-left: 120px;



   }

   #history_1711363970499_379,
   #history_1711367571152_552,
   #history_1711367404357_497 {

      padding-right: 120px;

   }
}


@media screen and (max-width: 500px) {

   #section_1711530282678_382 {
      transform: scale(0.6);
      width: 120vw;
      margin-left: 0px;
      margin-right: 0px
   }

   #section_1678711065059_341 {

      width: 90%;

   }


   #pageContent {

      margin-left: 0px;



   }

   #history_1711363970499_379,
   #history_1711367571152_552,
   #history_1711367404357_497 {

      padding-right: 0px;

   }
}


#section_1711359214273_337 {
   color: black;
   font-size: 2em;
   background-color: red;
}

#section_1711530282678_382 {
   background-color: #efefef;
   display: flex;
   justify-content: flex-start;
   height: 100px;
   color: #05bfad;
   font-family: 'Great Vibes', cursive;
   font-size: 1.5em;
   text-align: flex-end;
   padding-bottom: 2em;
   align-items: center;
   padding-top: 6em;


}

.section_1711383845218_404 {
   display: none;
}


.author {

   color: #336773;
   font-size: 0.8em;
   font-weight: bold;
   padding-top: 14px;
   margin-left: 20px;

}

.comillas {

   color: #336773;
   font-size: 3em;
   font-family: roboto;
}

#history_1711363442883_389 {
   border-radius: 20px;
   background-color: white;
   padding-bottom: 1em;
   box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.40);
   -webkit-box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.40);
   -moz-box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.40);
}

#el_1711383894888_439,
#el_1711383947142_513,
#el_1711383981541_561,
#history_1664182453593_385 {
   border-radius: 20px;
   padding: 40px;
   background-color: white;
   box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.20);
   -webkit-box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.20);
   -moz-box-shadow: 0px -1px 29px 10px rgba(0, 0, 0, 0.20);
}


#section_1711465260780_447 {
   height: 1px;
   padding: 0px;
   margin: 0px;
}