  #resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loading {
    opacity: 0.5;
    pointer-events: none;
  }
  
  /* Form Styles */
  .estrecho {
    width: 50vw;
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0; 
  }
  

  .estrecho h1 {
    padding-bottom: 20px;
  }
  
  .containerFormProgress {
    padding: 20px;
    max-width: 70vw;
    width: 70%;
    text-align: center;
    margin: 0px;
    margin-top: 10vh;
    height: auto;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
  }

  .containerFormProgress input {
    width: 90%;
    height: 40px;
    border: 1px solid #006791;
    border-radius: 5px;
    padding: 3px;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  .containerFormProgress #cotainerSelect {
      width: 90%;
      margin: auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
  }
  
  .containerFormProgress #cotainerSelect select {
      width: 84%;
      height: 40px;
      border: 1px solid #006791;
      border-radius: 5px;
      padding: 3px;
      padding-left: 10px;
      margin: 0px;
  }
  
  .containerFormProgress #cotainerSelect button {
      width: 15%;
      margin: 0px;
  }
  
  .containerFormProgress label {
    margin-top: 20px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  /* Table Styles */
  #tablaDatos {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tablaDatos th,
  #tablaDatos td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  #tablaDatos th {
    font-weight: bold;
  }
  
  #tablaDatos tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #mensajeError1,
  #mensajeError2 {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .containerTable {
    margin-top: 5vh;
  }

  .containerTable h2 {
    padding-bottom: 20px;
  }