.containerUpdateContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    background-color: #fff;
}

.buttonContactsUpdate {
    width: 250px;
    height: 50px;
}

button:disabled {
    cursor: not-allowed;
}

.containerUpdateContacts div p {
    font-size: 20px;
    margin-top: 2vh;
    font-weight: 700;
    color: #333;
}

.containerUpdateContacts div table td:first-child {
    font-weight: 400;
    text-align: center;
}

.rightBottomContainer2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}
