/* Ensure table has fixed layout */
.listar-conversaciones table {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed; /* Fixes the width of the table columns */
    margin: auto;
}

.listar-conversaciones th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
    cursor: pointer;
}

.listar-conversaciones td:hover {
    background-color: #72dcff;
}

/* Example fixed widths for specific columns */
.listar-conversaciones table th:nth-child(1),
.listar-conversaciones table td:nth-child(1) {
    width: 20%; /* Fixed width for the ID column */
}

.listar-conversaciones table th:nth-child(2),
.listar-conversaciones table td:nth-child(2) {
    width: 10%; /* Fixed width for first and last name columns */
}

.listar-conversaciones table th:nth-child(3),
.listar-conversaciones table td:nth-child(3) {
    width: 15%; /* Fixed width for the company column */
}

.listar-conversaciones table th:nth-child(4),
.listar-conversaciones table td:nth-child(4) {
    width: 20%; /* Fixed width for the phone column */
}

.listar-conversaciones table th:nth-child(5),
.listar-conversaciones table td:nth-child(5) {
    width: 15%; /* Fixed width for the email column */
}

.listar-conversaciones table th:nth-child(6),
.listar-conversaciones table td:nth-child(6) {
    width: 10%; /* Fixed width for actions column */
}

/* Existing styles */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    position: relative;
    max-height: 80%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.popup-header h2 {
    margin: 0;
    font-size: 18px;
}

.close {
    font-size: 24px;
    cursor: pointer;
    right: 0px;
    background-color: rgb(214, 71, 71);
    border-radius: 100px;
}

.mensajes {
    display: flex;
    flex-direction: column;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.date-time.system {
    text-align: center;
    font-size: 14px;
}

.mensaje.in {
    background-color: #DCF8C6;
    align-self: flex-start;
}

.mensaje.out {
    background-color: #E5E5EA;
    align-self: flex-end;
}

.mensaje.system {
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.mensaje {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 80%;
    text-align: left;
    display: flex; /* Habilita Flexbox */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente */
    word-break: break-all;
}

.date-time {
    text-align: right;
    padding-top: 5px;
}

.status-icon {
    color: rgb(17, 0, 128);
    font-size: 16px;
    border-radius: 100px;
    padding: 5px;
    margin-left: 20px; /* Añade margen a la izquierda para separar del texto */
}

.search-bar {
    width: 80%;
    padding: 9px;
    margin: 20px 0;
    font-size: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.listar-conversaciones {
    width: 60vw;
    margin-top: 10vh;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.conversaciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.conversaciones-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures fixed column width */
}

.conversaciones-table th,
.conversaciones-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.conversaciones-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.conversacion-row:hover {
    cursor: pointer;
}

.date-time {
    text-align: right;
    padding-top: 5px;
}

.conversaciones-table th.tags, 
.conversaciones-table td.tags {
    max-width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
