nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar {
    box-shadow: none;
    background-color: none;
    position: relative;
    flex-direction: row;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.imgNavbar {
    width: 120px;
    height: auto;
}

.menuNavbar ul {
    display: flex;
}

.menuNavbar li {
    list-style: none;
    margin: 0 15px;
}

.menuNavbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.menuNavbar ul li.active {
    border-bottom: 2px solid #006791;
}

.menuNavbar ul li.active {
    border-bottom: 2px solid #006791;
}

.active a {
    color: #006791;
}

.menuNavbar ul li.active a {
    color: #006791;
}

.dropdown {
    cursor: pointer;
    position: relative; 
}

.submenu {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    max-width: 250px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0; 
}

.dropdown .submenu {
    display: block; 
}

.submenu li {
    margin: 0 auto; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.submenu li a {
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.submenu li:hover {
    background-color: #d1faff;
}

.dropdown img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-left: 10px;
    justify-content: center;
    padding-top: 5px;
}

.buttonNavbar {
    border-color: #006791;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    width: 50px;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    margin: 0 15px;
    padding: 0%;
}

.buttonNavbar:hover {
    background-color: #05BFAD;
    transition: 0.4s;
}

.buttonNavbar img {
    min-width: 30px;
    height: 30px;
    margin: 0 auto;
    padding: 0%;
    justify-content: center;
    align-items: center;
}